body {
    background-color: red;
    font-size: 175%;
}
h1 {
    text-align: center;
    font: 80px sans-serif;
    color: green;
}
h2 {
    font: 50px arial;
    color: yellow;
}
h3 {
    font: 30px courier;
    color: orange;
p {
    border: 5px solid blue;
}
li {
    font: 20px arial;
}